body{
	/*background-color: hsl(184,80%,91%);*/
	background-image: url("../images/bg04.jpg");
	padding: 5px 20%;
	margin: 0px;
}

#top_head{
	margin: 10px;
	padding: 3px 10px;
	background-color: rgba(255,255,255,0.5);
}

.functions{
	float: right;
}

h2 {
	display: inline-block;
	font-size: 20px;
	font-family:Trebuchet MS;
}

.buttons, a{
	margin-left: 20px;
	text-decoration: none;
}



#grid, #left, #right{
	/*width:100%;*/
	margin:0px;
	padding:0px;
	background-color: rgba(255,255,255,0.5);
}
#left, #right{
	/*background-color: green;*/
	width:50%;
	float:left;
	/*padding: 5px; */
}

#right{
	/*background-color: pink;*/
}

#left_top, #left_bottom, #right_bottom, #right_top{
	width:100%;
	height:350px;
	/*background-color: pink;*/
	/*background-size: auto;*/
	background-size: 100% 100%;
}

#left_top{
	background-image:url(../images/sis.jpg);
	margin-left: 10px;
	margin-bottom: 0%;
}
#right_bottom{
	background-image:url(../images/unknown2.jpg);
	/*margin-top: 9px;*/
	margin-left:9px;
	width: 94%;
	margin-bottom: 20px;
	/*margin-bottom: 10px;*/
}


img{
	width: 100%;
}

#left_bottom_a{
	width: 96.5%;
	float:right;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 11px;
}

#left_bottom_b{
	width: 50%;
	height: 44.5%;
	float:right;
	margin-right: 0px;
	margin-bottom: 20px
}

#right_top_a{
	width: 50%;
	margin-left: 1px;
	margin-top: 20px;
}

#right_top_b{
	width:90%;
	margin-left: 1px;
	margin-top:5px;
}

#grid{
	margin-right: 40%;
	margin-top: 22%;
	 /*-ms-transform: translate(150px,200px); /* IE 9 */*/
  /*-webkit-transform: translate(150px,200px); /* Safari prior 9.0 */*/
	/*transform: translate(-150px,200px);*/
	-ms-transform: rotate(-45deg); /* IE 9 */
	-webkit-transform: rotate(-45deg); /* Safari prior 9.0 */
	transform: rotate(-45deg); /* Standard syntax */

}

/*
h1{
	font-family:Geneva;
	text-align: center;
}

h2 {
	display: inline-block;
	font-size: 20px;
	font-family:Trebuchet MS;
}


.functions{
	float: right;
}

.buttons{
	margin-left: 20px;
}

.main{
	width: 50px;
}

#cover1{
	width:50%;
}

#cover2{
	display: block;
	width: 50%;
	margin-top: 10px;
}

#cover3{
	display: block;
	width: 25%;
	margin-left: 25%;
	float:left;
	margin-top: 13px;
}

#cover6{
	display: block;
	width: 50%;
	margin-right: 50%;
	float:left;
	margin-top: 13px;
}

#cover5{
	display: block;
	width: 50%;
	margin-top: 10px;
	float:left;
}

#cover4{
	display:block;
	width: 25%;
	margin-right: 75%;
	float:left;
	margin-top: 13px;
}

#home1{
	background-color: red;
	width: 100%;
	}*/

	#box1{
		/*width: 50%;*/
		/*float:left;*/
	}

	#box2{
		/*width:50;*/
		/*float: right;*/
		/*display: inline-block;*/
	}